<html>

    <head>
        <link rel="stylesheet" href="styles.css" />
        <link rel="stylesheet" href="./css/bootstrap.min.css" />
    </head>

    <body>
        <div class="jumbotron text-center">
            <h1>Supplementary Material</h1>
            <p>Welcome to Week 6 Lab</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg" href="/">Home</a>
        <a type="button" class="btn btn-primary btn-lg" href="/tables">Show Tables</a>
        <a type="button" class="btn btn-primary btn-lg" href="/del">Delete Tables</a>
        <a type="button" class="btn btn-primary btn-lg" href="/something">Do Something</a>
        <br />
        <br />

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </body>

</html>